@model IEnumerable<TheLearningCenter.Models.ClassModel>

@{
    ViewBag.Title = "My Classes";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ClassName)</th>
            <th>@Html.DisplayNameFor(model => model.ClassDescription)</th>
            <th>@Html.DisplayNameFor(model => model.ClassPrice)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelClass => c.ClassName)</td>
                <td>@Html.DisplayFor(modelClass => c.ClassDescription)</td>
                <td>@Html.DisplayFor(modelClass => c.ClassPrice)</td>
            </tr>
        }
    </tbody>
</table>