@model BirthdayCard.Models.CardDetails

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CardSent</title>
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            background-image: url('../../Images/Background.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
        }

        h1 {
            font-family: 'Tangerine', sans-serif;
            font-size: 256px;
            color: aliceblue;
            text-shadow: 2px 2px 5px black;
        }

        h2 {
            font-family: 'Raleway', sans-serif;
            font-size: 36px;
            color: aliceblue;
            text-shadow: 2px 2px 5px black;
        }

        div.container {
            margin-left: 20px;
            padding-left: 0;
        }

        label {
            font-family: 'Tangerine', sans-serif;
            font-size: 36px;
            color: aliceblue;
            text-shadow: 2px 2px 5px black;
        }

        p {
            font-family: 'Raleway', sans-serif;
            font-size: 24px;
            color: aliceblue;
            text-shadow: 2px 2px 5px black;
        }
    </style>
</head>
<body>
    <div style="margin-left: 20px">
        <h1>Thank you, @Model.FromName!</h1>
        <h2>Your card is on its way.</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <label>To:</label>
                <p>@Model.ToName<br>(@Model.ToEmail)</p>
            </div>
            <div class="col-xs-3">
                <label>From:</label>
                <p>@Model.FromName<br>(@Model.FromEmail)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>Birthday Message</label>
                <p>@Model.BirthdayMessage</p>
            </div>
        </div>
    </div>
</body>
</html>
